<div class="row mp-margin">
  <div class="col-12">
    <p class="mp-body">
      “We are what we repeatedly do. Excellence, then, is not an act, but a
      habit” – Aristotle At Monopole we believe in quality and clarity of
      intend, process and result. That’s why we work towards producing code that
      is clean, concise, functional and professional . Monopole was started in
      2017 in India as an LLP with two founding member’s and today we are a
      family of 6, with team members who are qualified and committed
      professional developers and whose expertise range from ---- to ---.
      Monopole primarily focuses on JavaScript and its derivatives? At monopole
      we offer a collaborative, transparent and autonomous work atmosphere where
      everyone can learn, grow, create and take charge. Inclusivity, flexibility
      and empathy are the defining features of the culture we want to provide
      for all team members.
    </p>
  </div>
</div>
