<div class="row mp-margin">
  <div class="col-12">
    <h1 class="mp-title">The Team</h1>
    <ul class="mp-body">
      <li>Kannan Kailas</li>
      <li>Rahul Sukumaran</li>
      <li>Krishnendu </li>
      <li>Sivakumar </li>
      <li>Prashanth R D </li>
    </ul>

    <h1 class="mp-title">Projects</h1>
    <ul class="mp-body">
        <li>Large Scale migration of mission-critical primary software for the client</li>
        <li>Technical Production Support</li>
        <li>Subscription based notification system </li>
        <li>High-performant ETL solution </li>
      </ul>

    <h1 class="mp-title">Clients</h1>
    <ul class="mp-body">
        <li>IDEA</li>
        <li>Kalypso</li>
        <li>Testimonials </li>
      </ul>
  </div>
</div>
